

<ion-content [fullscreen]="true">

 
  <app-toptoolbar></app-toptoolbar>

  


  <ion-card *ngFor="let x of inquiryList" (click)="detailPage()">
    <ion-card-header>
      <ion-card-title>{{x.firstName}}&nbsp;{{x.lastName}}</ion-card-title>
      <ion-card-subtitle>{{x.email}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      {{x.case.description}}
    </ion-card-content>
  </ion-card>



  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>
